<?xml version="1.0" encoding="UTF-8"?>
<!--INICIALIZAR O ARQUIVO XML-->

<!--ESTE ARQUIVO SERÁ LIDO PELO COMPONENTE 'com_confing' QUE É NATIVO DO JOOMLA.-->

<!--INICIAR A TAG DE CONFGURAÇÕES-->
<config>
	
	<!--AS PALAVRAS EM MAIÚSCULO SÃO CONSTANTES QUE SERÃO TRADUZIDAS PELO ARQUIVO DE TRADUÇÃO.-->
	<fieldset 
		name="textos"
		label="COM_HELLOWORLD_TEXTO_SETTINGS_LABEL"
		description="COM_HELLOWORLD_TEXTO_SETTINGS_DESC">
		
		<!--AQUI ESTÁ SENDO PASSADO SOMENTE UM PARÂMETRO, SE O TÍTULO DA CATEGORIA É EXIBIDO OU NÃO NO FRONT-END.-->
		<!--AS PALAVRAS EM MAIÚSCULO SÃO CONSTANTES QUE SERÃO TRADUZIDAS PELO ARQUIVO DE TRADUÇÃO.-->
		<field
			name="show_category"
			type="radio"
			label="COM_HELLOWORLD_HELLOWORLD_FIELD_SHOW_CATEGORY_LABEL"
			description="COM_HELLOWORLD_HELLOWORLD_FIELD_SHOW_CATEGORY_DESC"
			default="1">

			<!--AS LETRAS EM MAIÚSCULAS SÃO CONSTANTES PADRÃO DO JOOMLA, ELAS SERÃO TRADUZIDAS AUTOMATICAMENTE PELO JOOMLA-->
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>

		</field>

		<!--CAMPO QUE EXIBIRÁ UMA CAIXA DO 'reCAPTCHA'.-->
		<!--NOTE O TYPE COM O VALOR 'plugins' SIGNIFICANDO QUE ESTÁ A UTIILIZAR O PLUGIN RECAPTHCA DO JOOMLA.-->
		<field
			name="captcha"
			type="plugins"
			folder="captcha"
			label="COM_HELLOWORLD_HELLOWORLD_FIELD_CAPTCHA_LABEL"
			description="COM_HELLOWORLD_HELLOWORLD_FIELD_CAPTCHA_DESC"
			default="0"
			filter="cmd">
			
			<!--AS LETRAS EM MAIÚSCULAS SÃO CONSTANTES PADRÃO DO JOOMLA, ELAS SERÃO TRADUZIDAS AUTOMATICAMENTE PELO JOOMLA-->
			<option value="">JOPTION_USE_DEFAULT</option>
			<option value="0">JOPTION_DO_NOT_USE</option>

		</field>

		<!--CAMPOS PARA DEFINIÇÃO DE CONFIGURAÇÕES DO HISTÓRICO DO COMPONENTE.-->

		<!--CAMPO PARA DEFINIR SE VAI PODER OU NÃO SALVAR O HISTÓRICO DO COMPONENTE.-->
		<!--OBSERVE O ATRIBUTO 'type' COM O VALUE 'radio' ESPECIFICANDO O TIPO DE CAMPO COMO RADIO.-->
		<!--AS LETRAS MAIÚSCULAS SERÃO TRADUZIDAS AUTOMATICAMENTE PELO JOOMLA.-->
		<field
			name="save_history"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
			
			<!--OPÇÕES DO CAMPO.-->
			<!--AS LETRAS MAIÚSCULAS SERÃO TRADUZIDAS AUTOMATICAMENTE PELO JOOMLA.-->
			<option value="0">JNO</option>
			<option value="1">JYES</option>

		</field>

		<!--CAMPO PARA DEFINIR O NÚMERO DE VERSÕES A SEREM MANTIDAS.-->
		<!--AS LETRAS MAIÚSCULAS SERÃO TRADUZIDAS AUTOMATICAMENTE PELO JOOMLA.-->
		<!--O ATRIBUTO 'filter' FARÁ O TRABALHO DE PERMITIR SOMENTE NÚMEROS.-->
		<field
			name="history_limit"
			type="text"
			filter="integer"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			description="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			default="5">
		</field>

		<!--CAMPO PARA INSERIR O E-MAIL-->
		<!--OBSERVE O ATRIBUTO 'name' COM O VALOR 'user_to_email' QUE É O MESMO VALOR UTILIZADO NO ARQUIVO CONTROLLER 'site/controllers/helloworld.php'-->
		<!--NOTE TAMBÉM O ATRIBUTO 'type' COM O VALOR 'user' INDICANDO QUE O CAMPO IRÁ INTERAGIR COM A SESSÃO DO USUÁRIO DO JOOMLA.-->
		<field
			name="user_to_email"
			type="user"
			label="COM_HELLOWORLD_HELLOWORLD_FIELD_USER_TO_EMAIL_LABEL"
			description="COM_HELLOWORLD_HELLOWORLD_FIELD_USER_TO_EMAIL_DESC"
			default="0">
		</field>

	</fieldset>

	<!--AQUI SERÁ O CAMPO PARA CONFIGURAÇÃO DO ACL.-->
	<!--OBSERVE O ATRIBUTO 'name' COM O VALOR 'permissions', SIGNIFICANDO QUE ESTE FIELDSET ESTÁ RECEBENDO VALORES DE CONFIGURAÇÃO DO ACL DO JOOMLA.-->
	<!--AS LETRAS EM MAIÚSCULAS SÃO CONSTANTES PADRÃO DO JOOMLA, ELAS SERÃO TRADUZIDAS AUTOMATICAMENTE PELO JOOMLA.-->
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		
		<!--CAMPO PARA CONFIGURAÇÃO DA ACL-->
		<!--NOTE OS ATRIBUTOS 'type', 'name', 'validate', 'filter' QUE RECEBEM O VALOR 'rules', SIGNIFICANDO QUE ELES FICARÃO CONFIGURADOS PELO PADRÃO QUE O JOOMLA ESTABELECER PARA ESSE VALOR.-->
		<field 
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_helloworld"
			section="component"/>

	</fieldset>

</config>
